:root {
    --noir: black;
    --blanc: white;
    --alphaZero: rgba(0,0,0,0);
    --alphaMoiter: rgba(0,0,0,0.8);
}

* {
    box-sizing: content-box;
    margin: 0;
}


body {
    overflow-x: hidden;
}


@font-face {
    font-family: 'Grunge';
    src: url(../media/fonts/grunge_marker/Grunge\ Marker.ttf) format('truetype');
}

@font-face {
    font-family: 'Handwriting-black-draft';
    src: url(../media/fonts/handwriting_black_draft/handwriting-black-draft_DEMO.otf) format('opentype');
}

h1, .h1 {
    font-family: 'Grunge';
    font-size: 60px;
    font-weight: bold;
    color: var(--noir);
}

h2, .h2 {
    font-family: 'Grunge';
    font-size: 50px;
    font-weight: bold;
    color: var(--noir);
}

h3, .h3 {
    font-family: 'Grunge';
    font-size: 40px;
    font-weight: bold;
    color: var(--noir);
}

h4, .h4 {
    font-family: 'Grunge';
    font-size: 30px;
    font-weight: bold;
    color: var(--noir);
}

p {
    font-family: 'Handwriting-black-draft';
    font-size: 24px;
    color: var(--noir);
}

/*
Header
*/

.header {
    background-image: url(../media/img/img_arriere_plan/scene-3-chapitre3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 8vmin;
    align-self: center;
    color: var(--blanc);
    padding-left: 4vmin;
    text-shadow: 5px 5px var(--noir);
}

.header p {
    width: 100%;
    text-align: center;
    color: var(--blanc);
    font-family: 'Grunge';
    font-size: 1.8vmin;
    line-height: 6vmin;
}

.header p em {
    font-family: 'Grunge';
    color: var(--noir);
    text-shadow: 0 0 10px var(--blanc);
}

.header p.description {
    font-size: 2vmin;
    background-color: var(--alphaMoiter);
    padding: 1.5vmin;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    width: 50vw;
    height: auto;
    text-align: center;
    line-height: 2em;
}

.header .down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.header .fleche-down {
    width: 10vw;
    filter: drop-shadow(0 0 10px var(--blanc));
}

@media screen and (max-width: 650px) {
    .header h1 {
        align-self: flex-start;
    }
    .header {
        height: 120vh;
    }
    .header .fleche-down {
        width: 25vw;
    }
    .header p, .header p.description {
        font-size: 2.8vmin;
    }
}

/*
Sections
*/

section {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

/*
Chapitre 1
*/

#chapitre1 {
    background-image: url(../media/img/img_arriere_plan/bg_chap1-2.webp);
    background-repeat: repeat-x;
    overflow: hidden;
}

#chapitre1.bgMove {
    animation-play-state: running;
    animation: chap1BGMove;
    animation-duration: 6s;
}

#chapitre1.bgMoveStop {
    animation-play-state: paused;
}

@keyframes chap1BGMove {
    0% { background-position: 0 0;}
    100% { background-position: -300px 0;}
}


#chapitre1 .sprite {
    bottom: 6vh;
    position: absolute;
    width: 25vw;
    height: 25vw;
    z-index: 2;
}

#chapitre1 .sol-1 {
    position: absolute;
    background-image: url(../media/img/img_elements_visuels/chap1-2/chap1-2_sol-devant.webp);
    background-size: 25%;
    background-position: 0 100%;
    background-repeat: repeat-x;
    min-height: 10vh;
    width: 500vw;
    bottom: 0;
    z-index: 3;
}

#chapitre1 .sol-2 {
    position: absolute;
    background-image: url(../media/img/img_elements_visuels/chap1-2/chap1-2_sol-middle.webp);
    background-size: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    bottom: 0;
    z-index: 0;
}

#chapitre1 .roche {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}


#chapitre1 .roche.one {
    background-image: url(../media/img/img_elements_visuels/chap1-2/chap1-2_roche-big.webp);
    background-position: 0 100%;
    height: 80vh;
    width: 80vw;
    bottom: 0;
    right: -50vw;
    z-index: 3;
}

#chapitre1 .roche.tow {
    background-image: url(../media/img/img_elements_visuels/chap1-2/chap1-2_roche-small-large-v2.webp);
    background-position: 0 100%;
    height: 90vh;
    width: 90vw;
    bottom: -20vh;
    right: -30vw;
}

#chapitre1 .roche.tree {
    background-image: url(../media/img/img_elements_visuels/chap1-2/chap1-2_roche-small-large.webp);
    background-position: 0 100%;
    transform: scaleX(-1);
    filter: brightness(150%);
    height: 90vh;
    width: 90vw;
    bottom: 0;
    right: -40vw;
    z-index: 1;
}

@media screen and (min-width: 1000px) {
    #chapitre1  .roche.tree {
        right: -10vw;
    }
    #chapitre1 .sol-1 {
        height: 20vh;
    }
}

@media screen and (max-width: 700px) {
    #chapitre1 .sprite {
        bottom: 15px;
        width: 40vw;
        height: 40vw;
    }
}

/*
Chapitre 2
*/

#chapitre2 {
    background-color: var(--alphaMoiter);
    background-image: url(../media/img/img_arriere_plan/bg_chap1-2.webp);
    background-blend-mode: multiply;
}

/*
Chapitre 3
*/

#chapitre3 {
    background-image: url(../media/img/img_arriere_plan/bg-chap3.webp);
    height: 500vh;
}

/*
Chapitre 4
*/

#chapitre4 {
    background-image: url(../media/img/img_arriere_plan/bg-chap4-5.webp);
}

/*
Chapitre 5
*/

#chapitre5 {
    background-image: url(../media/img/img_arriere_plan/bg-chap6.webp);
}

/*
Chapitre 6
*/

#chapitre6 {
    background-color: var(--alphaMoiter);
    background-image: url(../media/img/img_arriere_plan/bg-chap6.webp);
    background-blend-mode: darken;
}

/*
Note pour prof
*/

ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

/*
Footer
*/

footer em {
    font-family: 'Grunge';
    color: var(--blanc);
    text-shadow: 0 0 10px var(--blanc);
}

footer {
    line-height: 2em;
    width: 100%;
    height: 10vh;
    background-color: var(--blanc);
    background-image: url(../media/img/img_arriere_plan/bg-chap6.webp), linear-gradient(to right, var(--noir), var(--blanc), var(--noir));
    background-blend-mode: multiply;
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
SpriteSheet
*/

.all {
    height: 300vh;
    background-image: url(../media/img/img_arriere_plan/bg-chap6.webp);
    opacity: 0.3;
    filter: blur(5px);
}

.content {
    background-color: var(--alphaMoiter);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.is-scrolling .sprite {
    animation-play-state: running;
}

.sprite {
    animation-play-state: paused;
    width: 30vw;
    height: 30vw;
    background-size: 400% 100%;
    /*
    width: 250px;
    height: 250px;
    background-size: cover;
    animation-name: spriteMoveJ;
    */
    animation-name: spriteMoveJResponsive;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    filter: drop-shadow(0 0 15px var(--blanc));
}

.sprite.standJ {
    background-image: url(../media/img/img_personnages/J-stand-back-v1-papier.webp);
}

.sprite.walkJ {
    background-image: url(../media/img/img_personnages/J-walk-v2-papier.webp);
}

.sprite.frog {
    background-image: url(../media/img/img_personnages/toad-anim-pixel-papier.webp);
    background-size: 100% 600%;
    width: 40vw;
    height: 40vw;
    /*height: 300px;
    background-size: cover;*/
    animation-name: spriteMoveFrogResponsive;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
}

@keyframes spriteMoveJResponsive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

@keyframes spriteMoveFrogResponsive {
    0% {
        background-position: 0px 0;
    }
    100% {
        background-position: 0 -600%;
    }
}


@media screen and (max-width: 750px) {
    .content {
        flex-direction: column;
        height: 100vh;
    }
    .sprite.frog {
        width: 50vw;
        width: 50vw;
    }
}

